<%= render 'partials/navbar' %>

<div class="container query-container">
	<div class="row">
		<div class="col-md-10">
			<h1>Showing data for Non-Elected Presidents (<%= @result.count %>)</h1>
			<hr>
			<h3>Non-Elected Presidents</h3>
			<table class="table table-bordered table-hover table-striped nominee-results2 non-elected-table">
				<thead class="query-thead">
					<tr>
						<th>Candidate Name</th>
						<th>How did they take office?</th>
					</tr>
				</thead>
				<tbody>
					<% @result.each do |candidate_arr| %>
					<% full_name = candidate_arr[0] %>
					<% description = candidate_arr[1].description %>
					<tr>
						<td><%= full_name %></td>
							<td><%= description %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<a class="btn btn-primary btn-md" href="<%= root_path %>" role="button">Try a different query!</a>

		</div>
	</div>
</div>


<%= render 'partials/footer' %>