<%= render 'partials/navbar' %>

<div class="container query-container">
	<div class="row">
		<div class="col-md-10">
			<h1 style="margin-bottom: 4%;">Number of presidents who were relected on non-contiguous elections (1)</h1>
			<h3>Results for <%= @result.first.full_name %></h3>
			<hr>

			<table class="table table-bordered table-hover table-striped nominee-results2">
				<thead class="query-thead">
					<tr>
						<th>Election year</th>
						<th>Party</th>
						<th>Popular votes (%)</th>
						<th>Electoral votes</th>
						<th>Is winner?</th>
					</tr>
				</thead>
				<tbody>
					<% @result.each do |candidate| %>
						<% if candidate.is_winner %>
							<tr class="success">
								<td><%= candidate.year %></td>
								<td><%= candidate.party %></td>
								<td><%= candidate.popular_percentage %></td>
								<td><%= candidate.num_elec_votes %></td>
								<td><%= candidate.is_winner %></td>
							</tr>
						<% else %>
							<tr class="danger">
								<td><%= candidate.year %></td>
								<td><%= candidate.party %></td>
								<td><%= candidate.popular_percentage %></td>
								<td><%= candidate.num_elec_votes %></td>
								<td><%= candidate.is_winner %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
			<a class="btn btn-primary btn-md" href="<%= root_path %>" role="button">Try a different query!</a>
		</div>
	</div>
</div>


<%= render 'partials/footer' %>